<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="wrapper">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><strong>WLTM</strong> an expert in Business strategy, customer insight and customer insight technologies. Must be passionate about complexity and making the complex simple - because magic happens when you can join the dots that others can't see.</p>
    <p>Ideal partner would like photography, horse riding, snowboarding, building and enabling talented teams to make amazing things happen.</p>
    <img src="http://www.datedan.co.uk/images/datedan.jpg" />
  </div>
  <script type="text/javascript" src="/javascripts/k.js"></script>
  <script type="text/javascript">
  	var dan_code = function() {
        var img, left, top, counter, interval;

        img = document.createElement('img');

        img.src = "images/transdan.png";

        left = 100;
        top  = 250;
        img.style.position = "absolute";
        img.style.left = left + "px";
        img.style.top = top + "px";
        img.style.width = "800px";  // Make these match the image...
        img.style.height = "868px"; // ...or leave them out.

        img.style.zIndex = 100;

        document.body.appendChild(img);

        counter = 20;
        interval = 200; // ms
        window.setTimeout(wanderAround, interval);

        function wanderAround() {

            --counter;
            if (counter < 0)
            {
                document.body.removeChild(img);
            }
            else
            {
                left += Math.floor(Math.random() * 20) - 10;
                if (left < 0)
                {
                    left = 0;
                }
                top  += Math.floor(Math.random() * 10)  - 5;
                if (top < 0)
                {
                    top = 0;
                }
                img.style.left = left + "px";
                img.style.top  = top  + "px";

                window.setTimeout(wanderAround, interval);
            }
        }
    }
  	var konami = new Konami(dan_code);
  </script>
  </body>
</html>
