<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="wrapper">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><strong>WLTM</strong> an expert in Business strategy, customer insight and customer insight technologies. Must be passionate about complexity and making the complex simple - because magic happens when you can join the dots that others can't see.</p>
    <p>Ideal partner would like photography, horse riding, snowboarding, building and enabling talented teams to make amazing things happen.</p>
    <img src="http://www.datedan.co.uk/images/datedan.jpg" />
  </div>
  </body>
</html>
