body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background: black url(/images/fireworks.gif) center center repeat
a
  color: #00B7FF
#wrapper
  background-color: white
  margin: 0 auto
  width: 900px
  padding: 20px
  img
    width: 900px